# TOKENS
TELEGRAM_BOT_TOKEN=your_telegram_token
OPENAI_API_KEY=your_openai_key

# OpenAI params
# ROUTING
OPENAI_MODEL_ROUTING=gpt-4.1-nano
TEMPERATURE_ROUTING=0
# SQL BUILDER
OPENAI_MODEL_SQL_BUILDER=gpt-4.1-mini
TEMPERATURE_SQL_BUILDER=0
# ANSWER
OPENAI_MODEL_ANSWER=gpt-4.1-mini
TEMPERATURE_ANSWER=0.2
# FREE
OPENAI_MODEL_FREE=gpt-4.1-mini
TEMPERATURE_FREE=0.5

# Other params
LOG_LEVEL=INFO